In [163]:
import numpy as np

In [164]:
np_liste = np.array(list(range(1,11)))
np_2d = np_liste.reshape(5,2)
np_2d

In [165]:
np_2d[0]

In [166]:
np_5 = np.arange(5,25,5)
np_5

In [167]:
np1 = np.ones((10,10))
np1

In [168]:
np.zeros((3,2))

In [169]:
eyes = np.eye(3,3)
eyes

In [170]:
liste = np.random.randint(1,101,(10000))
print(liste)

In [171]:
np.count_nonzero(liste == 1)

In [172]:
names_list = ["Alihan Ayverdi",
"Ahmet KOÇ",
"ÖMER FARUK KÖSE",
"Merve DEMİR",
"Rıza Efe Dönmez ",
"Nergis KAHVECİOĞLU",
"EMİNE ÇETİN",
"Safiye Esmanur AYDAR",
"Yasmın Zhulfayeva",
"Ali Burkay KÜÇÜKAKCA",
"Sıla SARAÇ",
"Melike Nur ÇOTAK",
"Sabahattin MAKİNE",
"Gülsüm",
"Muhammed Mustafa SAVAR"]


np.random.choice(names_list, replace=False, size=5)

In [173]:
np.flipud(liste) # ters cevirme

In [174]:
np.max(liste) #maximum

In [175]:
np.min(liste) #minumum

In [176]:
np.mean(liste) #ortalama

In [177]:
np.std(liste) #standart sapma

In [178]:
len(liste) #eleman sayısı

In [179]:
notlar = np.random.randint(50, 101, 20)
notlar

In [180]:
np.savetxt("notlar.txt", notlar) #bilimsel gösterim

In [181]:
#bilimsel olmayan gösterim
np.savetxt("notlar.txt", notlar, fmt="%d")

In [182]:
ls

In [183]:
notlar = np.loadtxt("notlar.txt")

In [184]:
notlar

In [185]:
np.sort(notlar)

In [186]:
#reverse sort
np.sort(notlar)[::-1]

In [187]:
np.max(notlar), np.min(notlar), np.std(notlar), np.mean(notlar)

In [188]:
sehirler = np.array(["Malatya", "Kahramanmaraş", "Antalya", "Ankara", "Istanbul", "Bursa", "Kütahya", "Malatya"])

In [189]:
np.unique(sehirler)

In [190]:
unuqie, counts = np.unique(sehirler, return_counts=True)
sehirler_sozluk = dict(zip(unuqie, counts))
sehirler_sozluk

In [191]:
sehirler_sozluk["Malatya"]

In [192]:
sehir = ""
while True:
    sehir = input("Bir sehir giriniz: ")
    sehir = sehir.capitalize() 

    if sehir not in sehirler_sozluk.keys():
       print("Sehir bulunamadı")
    else:
        print(sehirler_sozluk[sehir]) 
        break

In [193]:
frekans = np.asarray((unuqie, counts)).T
print(frekans)

In [194]:
notlar = np.random.randint(50, 101, 20)
notlar

In [195]:
notlar = np.random.randint(50, 101, 20)
notlar.tofile("notlar.csv", sep=",", format="%d")

In [196]:
notlar2 = notlar.reshape(20,1)

In [197]:
notlar2.tofile("notlar2.csv", sep=",", format="%d")

## Pandas

![pandas](./pandas.jpeg)

In [198]:
pip install pandas

In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [200]:
#import with pandas
df = pd.read_csv("notlar.csv")
df

In [ ]:
## Seriler

In [10]:
isimler = pd.Series(["Ali", "Ahmet", "Veli", "Ayşe"])

isimler

0      Ali
1    Ahmet
2     Veli
3     Ayşe
dtype: object

In [11]:
type(isimler)

pandas.core.series.Series

In [12]:
#ilk isim
isimler[0]

'Ali'

In [13]:
#ilk 3 isim
isimler[0:3]

0      Ali
1    Ahmet
2     Veli
dtype: object

In [14]:
#sondan 1 tane
isimler[-1:]

3    Ayşe
dtype: object

In [15]:
isimler[isimler.str.startswith("A")]

0      Ali
1    Ahmet
3     Ayşe
dtype: object

In [16]:
isimler[isimler.str.endswith("e")]

3    Ayşe
dtype: object

In [18]:
isimler.str.lower()

0      ali
1    ahmet
2     veli
3     ayşe
dtype: object

In [19]:
isimler.str.upper() #Türkçe karakterlerin büyük harf sorunu

0      ALI
1    AHMET
2     VELI
3     AYŞE
dtype: object

In [23]:
sehirler = pd.Series(["Malatya", "Kahramanmaraş", "Antalya", "Ankara", "Istanbul", "Bursa", "Kütahya", "Ankara"])
sehirler

0          Malatya
1    Kahramanmaraş
2          Antalya
3           Ankara
4         Istanbul
5            Bursa
6          Kütahya
7           Ankara
dtype: object

In [24]:
(sehirler == 'Ankara').sum()

np.int64(2)

In [28]:
sehirler.value_counts()

Ankara           2
Malatya          1
Kahramanmaraş    1
Antalya          1
Istanbul         1
Bursa            1
Kütahya          1
Name: count, dtype: int64

In [27]:
# ankaranın addetine bak
sehirler.value_counts()["Ankara"]

np.int64(2)